<table cellpadding="0" cellspacing="0" border="0" width="100%"  role="presentation" style="width: 100%;">
    <tr align="center">
        <td align="center">
            <table cellpadding="0" cellspacing="0" border="0" width="600" role="presentation"  style="width: 600px;">
                <tr align="center">
                    <td align="center">
                        <table cellpadding="0" cellspacing="0" border="0" width="500" role="presentation" style="width:500px;">
                            <tr align="center">
                                <td align="center">
                                    <!--Content starts here-->
                                        Headline lorem ipsum dolor sit amet Blah.
                                    <!--Content ends here-->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr align="center">
                    <td align="center">
                        <table cellpadding="0" cellspacing="0" border="0" width="500" role="presentation" style="width:500px;">
                            <tr align="center">
                                <td align="center">
                                    <!--Content starts here-->
                                        Subheader Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare odio orci
                                    <!--Content ends here-->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <tr align="center">
                    <td align="center">
                        <table cellpadding="0" cellspacing="0" border="0" width="500" role="presentation" style="width:500px;">
                            <tr align="center">
                                <td align="center">
                                    Body copy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare odio
                                    orci. Sed eu elit ut felis luctus rutrum cursus in nibh. Ut at tellus tortor.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>