<table cellpadding="0" cellspacing="0" border="0" width="100%" role="presentation" style="width:100%;">
    <tr align="center">
        <td align="center">
            <table cellpadding="0" cellspacing="0" border="0" width="600" role="presentation"  style="width:600px;>
                <tr align="center">
                    <th align="center">
                        <!--First Column starts here-->
                        <table cellpadding="0" cellspacing="0" border="0" width="285" style="width:285px; role="presentation" >
                            <tr align="center">
                                <td align="center">
                                    <table cellpadding="0" cellspacing="0" border="0" width="241" role="presentation" style="width:241px;">

                                        <!--Adds paddding on top of the image-->
                                            <tr align="center">
                                                <td align="center" width="22" height="22">&nbsp;</td>
                                            </tr>
                                         <!--Adds paddding on top of the image ends here-->

                                        <tr align="center">
                                            <td align="center">
                                                <!--Content starts here-->
                                                  
                                                <!--Content ends here-->
                                            </td>
                                        </tr>

                                        <!--Adds paddding at the bottom of the image-->
                                            <tr align="center">
                                                <td align="center" width="22" height="22">&nbsp;</td>
                                            </tr>
                                        <!--Adds paddding at the bottom of the image ends here-->

                                    </table>
                                </td>
                            </tr>
                        </table>
                        <!--First Column ends here-->
                    </th>

                    <!--Second Column starts here-->
                    <th align="center">
                        <table cellpadding="0" cellspacing="0" border="0" width="241" role="presentation" style="width:241px;">
                            <tr align="center">
                                <td align="center">
                                    <!--Content starts here-->

                                    <!--Content ends here-->
                                </td>
                            </tr>
                        </table>
                    </th>
                    <!--Second Column ends here-->
                </tr>
            </table>
        </td>
    </tr>

    <tr align="center">
        <td align="center">
            <table cellpadding="0" cellspacing="0" border="0" width="600" style="width:600px;" role="presentation">
                <tr align="center">
                    <td align="center" class="lrpad">
                        <table cellpadding="0" cellspacing="0" border="0" width="500" style="width:500px;">
                            <tr align="center">
                                <td align="center">
                                    <!--Content starts here-->
                                    
                                    <!--Content ends here-->
                                </td>
                            </tr>
                            <tr align="center">
                                <td align="center" width="500" style="width:500px;">
                                     <!--Content starts here-->

                                    <!--Content ends here-->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>