<table cellpadding="0" cellspacing="0" border="0" width="100%" class="wf" role="presentation" class="widthPercentage">
     <!--spacer-->
     <tr>
        <td height="15" class="tdPadding">&nbsp;</td>
    </tr>
    <!--end of spacer-->
    <tr align="center">
        <td align="center">
            <table cellpadding="0" cellspacing="0" border="0" width="600" class="wf" role="presentation" class="tableContent">
                <tr align="center">
                    <th align="center" class="bm">
                        <!--First Column starts here-->
                        <table cellpadding="0" cellspacing="0" border="0" width="285" class="twoCol_width wf wdevice" role="presentation" >
                            <tr align="center">

                                <!-- td padding here-->
                                   
                                <!-- td padding ends here-->

                                <td align="center" class="tpad2 bpad3">
                                    <table cellpadding="0" cellspacing="0" border="0" width="241" class="wf" role="presentation" style="width:241px;">

                                        <!--Adds paddding on top of the image-->
                                            <tr align="center">
                                                <td align="center" class="hide tdPadding" width="22" height="22">&nbsp;</td>
                                            </tr>
                                         <!--Adds paddding on top of the image ends here-->

                                        <tr align="center">
                                            <td align="center">
                                                <!--Content starts here-->
                                                    <a href="https://disobey.design/collections/halloween/products/halloween-evil-pumpkins-short-sleeve-unisex-t-shirt" target="_blank">                                                  
                                                        <img src="https://cdn.shopify.com/s/files/1/0474/3063/1574/products/mockup-986d3b97_360x.jpg?v=1601143289" alt="" border="0" class="bannerimg twoCols_img1" width="241" height="241" data-bind=" attr: { src: diso_image_1.Value, alt: diso_image_2.Metadata['AltText'] } ">                                               
                                                    </a>
                                                <!--Content ends here-->
                                            </td>
                                        </tr>

                                        <!-- cta button here if needed-->
                                            <!--place the button snippet here-->
                                        <!-- cta button ends here-->

                                        <!--Adds paddding at the bottom of the image-->
                                            <tr align="center">
                                                <td align="center" class="hide tdPadding" width="22" height="22">&nbsp;</td>
                                            </tr>
                                        <!--Adds paddding at the bottom of the image ends here-->

                                    </table>
                                </td>

                                <!-- td padding here-->
                                   
                                <!-- td padding ends here-->

                            </tr>
                        </table>
                        <!--First Column ends here-->
                    </th>

                    <!--spacer-->
                    <th width="10" class="hide tdPadding">&nbsp;</th>
                    <!--end of spacer-->

                    <!--Second Column starts here-->
                    <th align="center" class="tp">
                        <table cellpadding="0" cellspacing="0" border="0" width="285" class="col-width wf wdevice" role="presentation">
                            <tr align="center">
                                <td align="center">
                                    <!--Content starts here-->
                                        <a href="https://disobey.design/collections/halloween/products/halloween-voodoo-short-sleeve-unisex-t-shirt" target="_blank"> 
                                            <img src="https://cdn.shopify.com/s/files/1/0474/3063/1574/products/mockup-28159359_540x.jpg?v=1601138173" alt="" class="bannerimg bpad twoCols_img2" width="285" height="285" data-bind=" attr: { src: diso_image_1.Value, alt: diso_image_3.Metadata['AltText'] } ">
                                        </a>
                                    <!--Content ends here-->
                                </td>
                            </tr>
                        </table>
                    </th>
                    <!--Second Column ends here-->
                </tr>
            </table>
        </td>
    </tr>

<!--spacer-->
    <tr align="center">
        <td height="20" class="tdPadding">&nbsp;</td>
    </tr>
<!--end of spacer-->

    <tr align="center">
        <td align="center">
            <table cellpadding="0" cellspacing="0" border="0" width="600" class="wf" role="presentation" class="tableContent">
                <tr align="center">
                    <td align="center" class="lrpad">
                        <table cellpadding="0" cellspacing="0" border="0" width="500" class="wf" role="presentation" style="width:500px;">
                            <tr align="center">
                                <td align="center" class="tdContent_2" data-bind="text:diso_headline_4.Value">
                                    <!--Content starts here-->
                                        Category header 
                                    <!--Content ends here-->
                                </td>
                            </tr>
                            <!--spacer-->
                            <tr>
                                <td class="pad10">&nbsp;</td>
                            </tr>
                            <!--end of spacer-->
                            <tr align="center">
                                <td align="center" class="tdContent_2" data-bind="text:diso_headline_5.Value">
                                     <!--Content starts here-->
                                        Body copy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare odio
                                        orci. Sed eu elit ut felis luctus rutrum cursus in nibh. Ut at tellus tortor. 
                                    <!--Content ends here-->
                                </td>
                            </tr>
                             <!-- cta button here-->
                                
                            <!-- cta button ends here-->
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <!--spacer-->
    <tr>
        <td height="24" class="tdPadding">&nbsp;</td>
    </tr>
    <!--end of spacer-->
</table>