 <table cellpadding="0" cellspacing="0" border="0" width="100%" id="terms and conditions" class="wf widthPercentage" role="presentation">
     <tr align="center">
         <td align="center" class="lrpad2">
             <table cellpadding="0" cellspacing="0" border="0" width="600" class="wf widthBorder" role="presentation" >
                 <tr>
                     <td height="20" class="tdPadding">&nbsp;
                     </td>
                 </tr>
                 <tr align="center">
                    <td align="center" class="fontGeneral">
                        <!--Content starts here-->
                         Add
                         <a href="mailto:sales@disobey.design" class="fontBold">
                         disobey.design
                        </a>
                         to your address book to make sure you receive our emails.
                        <!--Content ends here-->
                    </td>
                 </tr>
                <!--spacer-->
                 <tr>
                     <td height="16" class="tdPadding">&nbsp;
                     </td>
                 </tr>
                <!--end of spacer-->

                <tr align="center">
                    <td align="center" class="fontGeneral">
                        <!--Content starts here-->
                        If you require further assistance our Customer Service team is available to you on
                        <a href="tel:079461 72590" class="fontBold">
                            079461 7259
                        </a>, between the hours of 8am and 5pm, GMT.
                        <!--Content ends here-->
                    </td>
                </tr>
                <!--spacer-->
                 <tr>
                     <td height="16" class="tdPadding">&nbsp;
                     </td>
                 </tr>
                <!--end of spacer-->
                 <tr>
                    <td align="center" class="fontGeneral">
                        <!--Content starts here-->
                         We respect your privacy. If you would rather not receive emails alerting you of Disobey
                         special offers, product announcements and other news, 
                        <a href="#" class="fontBoldUnder" target="_blank">
                            click here</a>. 
                        <!--Content ends here-->
                    </td>
                 </tr>
                <!--spacer-->
                 <tr>
                     <td height="16" class="tdPadding">&nbsp;
                     </td>
                 </tr>
                <!--end of spacer-->
                 <tr>
                    <td align="center" class="fontGeneral">
                        <!--Content starts here-->
                         For further details on how we manage your data, see our
                        <a href="https://disobey.design/policies/privacy-policy" class="fontBoldUnder" target="_blank">
                             Privacy Policy</a>. 
                        <!--Content ends here-->
                    </td>
                 </tr>
                <!--spacer-->
                 <tr>
                     <td height="16" class="tdPadding">&nbsp;
                     </td>
                 </tr>
                <!--end of spacer-->
                 <tr>
                    <td align="center" class="fontGeneral">
                        <!--Content starts here-->
                         &copy;
                         2020 All rights reserved. | Disobey registered offices at
                         <!--<a href="#" class="fontLinkNoUnder" target="_blank">-->13 Fleetwood Avenue, Westcliff-on-Sea,SS0 9RA UK.
                        <!--Content ends here-->
                    </td>
                 </tr>
             </table>
         </td>
     </tr>
    <!--spacer-->
     <tr>
         <td height="30" class="tdPadding">&nbsp;</td>
     </tr>
    <!--end of spacer-->
 </table>


 </td>
 </tr>
 </table>

 <!-- GMAIL MIN-WIDTH FIX - DO NOT REMOVE - MAKE SURE THESE SPACERS ADD UP TO THE WIDTH OF YOUR EMAIL========================================================= -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:0; padding:0;">
    <tr>
      <td align="center" valign="top" class="mainPadding tablet-pad-bottom-10">
        <table class="maintable" width="720" border="0" cellspacing="0" cellpadding="0">
          <tr class="hide">
            <td align="left" valign="top" style="min-width:720px;">
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="350" align="left" valign="top" style="font-size:0px; line-height:0px;"><img src="https://code-creative-share.s3.amazonaws.com/RAPP/images/spacer.gif" alt="" width="360" height="1" style="display:block" border="0"></td>
                  <td width="350" align="left" valign="top" style="font-size:0px; line-height:0px;"><img src="https://code-creative-share.s3.amazonaws.com/RAPP/images/spacer.gif" alt="" width="360" height="1" style="display:block" border="0"></td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    </table>
    </center>
    <style type="text/css">
      #secdiv #new-gmail-hack {display: block  !important;}
      #MessageWebViewDiv #new-gmail-hack {display: block  !important;}
      u + #new-gmail-hack {
        display: block  !important;
      }
    </style>
    <section>
      <div id="new-gmail-hack" style="white-space: nowrap; font: 15px courier; line-height: 0; display: none;">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      </div>
    </section>
    <!-- force email clients which don’t support @media queries to show desktop version -->
    <table cellpadding="0" cellspacing="0" border="0" class="u-hide-mob">
      <tr>
        <td height="1" class="u-hide-mob" style="min-width: 600px; height: 1px; font-size: 1px; line-height: 1px; padding: 0; margin: 0;">
          <img height="1" src="https://code-creative-share.s3.amazonaws.com/RAPP/images/spacer.gif" style="min-width: 600px; height: 1px; text-decoration: none; border: none; -ms-interpolation-mode: bicubic;">
        </td>
      </tr>
    </table>


 <!-- End of Email Content -->

 </body>

 </html>