<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
  <title>Email template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="date">
  <meta name="format-detection" content="address=no">
  <meta name="robots" content="noindex, nofollow">
  <meta name="x-apple-disable-message-reformatting">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->

  <link rel="stylesheet" href="css/inline.css">
  <style type="text/css">{{> includes/embedded }}</style>
  <style type="text/css">{{> includes/mq }}</style>

<!--[if gt mso 15]>
<style type=“text/css” media=“all”>
/* Outlook 2016 Height Fix */
table, tr, td {border-collapse: collapse;}
tr { font-size:0px; line-height:0px; border-collapse: collapse; }
</style>
<![endif]-->

      
<!--[if( gte mso 9)|(IE)]>
  <xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG/>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
  </xml>
<![endif]-->
</head>

<body class="bodymaster"> 
